NODE_ENV=development
PORT=8000
USER=your-username
PASSWORD=your-password

DATABASE=mongodb+srv://<username>:<PASSWORD>@<cluster-url>/<database-name>?appName=Cluster0
DATABASE_PASSWORD=your-database-password

JWT_SECRET=your-extra-ultra-long-secret-key
JWT_EXPIRES_IN=90d
